* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.nav-top {
    background-color: #00b1fd;
    height: 90px;
}

.nav-left li {
    cursor: pointer;
    line-height: 35px;
    background-color: #00b1fd;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
}

.nav-left li span {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
